#trip{"ng-controller" => "tripCtrl", "ng-init" => "trip = #{@trip.to_json.html_safe}"}
  .uploader{"nv-file-drop"=>"", "uploader"=>"uploader", "options" => "{url: '/api/trips/{{trip.id}}/image/' }"}
    .box-center
      .box-info
        .show-info
          %h3= t("trip.dragImageHere")
          %input.btn.btn-info{"nv-file-select"=>"","uploader"=>"uploader","type"=>"file", "options" => "{url: '/api/trips/{{trip.id}}/image/' }"}
          %button.btn.btn-danger.cancel= t("general.cancel")
  .user-management
    .box-center
      .box-info
        .show-info
          %h3= t("trip.userManagement")
          %form{"role" => "form"}
            .form-group
              .input-group.input-group-lg
                %span.input-group-addon
                  %i.fa.fa-user.fa-fw{ "ng-hide"=>"loadingUsers"}
                  %i.fa.fa-refresh.fa-fw{ "ng-show"=>"loadingUsers"}
                %input.form-control{"ng-model" => "asyncSelected", :placeholder => t("auth.username"), :type => "text", :typeahead => "user for user in getUsers($viewValue)", "typeahead-loading" => "loadingUsers", "typeahead-on-select" => "addUserCanWrite($item, $model, $label)"}/

          %div#showit
            %ul.list-group
              %li.list-group-item{"ng-repeat" => "user in usersCanWrite"}
                %span {{user.username}}
                %button.badge{"ng-click" => "deleteUserCanWrite(user.id)"}
                  %span.glyphicon.glyphicon-remove


          %button.btn.btn-danger.cancel= t("general.close")
  %section#header{"data-speed" => "6", "data-type" => "background", "ng-style" => "tripBackground"}
    .container-fluid.header-info
      %h1.editable{"ng-model" => "trip.title", "ng-cloak" => "", "class"=>"ng-cloak"}
        {{trip.title}}
      %button.btn.btn-success.save-title{"type" => "button", "ng-click" => "saveTitle()"}= t("general.save")
  / Section 2
  %section#map{"data-speed" => "4", "data-type" => "background", "ng-controller" => "mapCtrl"}
    / #route
    %script{:src => "http://maps.google.com/maps/api/js?libraries=places"}
    %map#route{}
      %marker{"ng-repeat" => "destination in destinations", "title" => "{{destination.name}}", "position" => "{{destination.coordinates}}", "z-index" => "4"}
      %shape#polyline{:geodesic => "true", :name => "polyline", :path => "{{linea}}", "stroke-color" => "#647f46", "stroke-opacity" => "1.0", "stroke-weight" => "4"}
    .panel
      %input#pac-input.controls{:placeholder => "Search Box", :type => "text"}/
      %ul.list-group{"ui-sortable"=>"sortableOptions", "ng-model" => "destinations"}
        %li.list-group-item{"ng-repeat" => "d in destinations"}
          %i.fa.fa-sort
          %span.badge.remove-dest{"ng-click" => "removeDest($index)"}
            %i.fa.fa-remove
          %span.badge {{$index+1}}
          {{d.name}}

    %button.show-panel{"style" => "display: block"}
      %span.glyphicon.glyphicon-chevron-down
    %button.hide-panel{"style" => "display: none"}
      %span.glyphicon.glyphicon-chevron-up
  / Section 3
  %section#content{"data-speed" => "2", "data-type" => "background"}
    .container-fluid
      .dates
        .row
          .col-md-6
            %h2
              = t("trip.startDate")
              %small{"ng-cloak" => "", "class"=>"ng-cloak"} {{ trip.startDate | date:'yyyy-MM-dd' }}
            %datetimepicker{"data-datetimepicker-config" => "{ startView:'day', minView:'day' }", "data-ng-model" => "trip.startDate", "data-on-set-time"=>"onStartTimeSet(newDate, oldDate)"}
          .col-md-6
            %h2
              = t("trip.endDate")
              %small{"ng-cloak" => "", "class"=>"ng-cloak"} {{ trip.endDate | date:'yyyy-MM-dd' }}
            %datetimepicker{"data-datetimepicker-config" => "{ startView:'day', minView:'day' }", "data-ng-model" => "trip.endDate", "data-on-set-time"=>"onEndTimeSet(newDate, oldDate)"}
      .description
        %h2
          = t('trip.description')
          %button.btn.btn-success.save-description{"type" => "button", "ng-click" => "saveDescription()"}= t("general.save")
        .content.editable{"ng-bind-html" => "trip.description", "ng-model" => "trip.description"}
        / %p {{trip.image.url}}
      %hr/
      .budget{"ng-controller" => "budgetCtrl" }
        %h2= t('trip.budget')
        .row
          .col-md-6
            %h4= t('trip.budgetElements')
            %table.table.table-hover
              %thead
                %tr
                  %th= t('trip.item')
                  %th= t('trip.units')
                  %th= t('trip.priceUnit')
                  %th= t('trip.cost')
                  %th
              %tbody{"ng-cloak" => "", "class"=>"ng-cloak"}
                %tr{"ng-repeat" => "budget in budgets"}

                  %div
                    %td
                      %div{"ng-hide" => "budget.editing"}
                        {{budget.description}}
                        %span.label.label-danger{"ng-if" => "budget.category === 1"}=  t('trip.transport')
                        %span.label.label-success{"ng-if" => "budget.category === 2"}= t('trip.food')
                        %span.label.label-primary{"ng-if" => "budget.category === 3"}= t('trip.sleep')
                        %span.label.label-warning{"ng-if" => "budget.category === 4"}= t('trip.others')
                      %div{"ng-show" => "budget.editing"}
                        %input.title{"type" => "text", "ng-model" => "budget.description"}/
                        %select.cat{"ng-model" => "budget.category", "ng-options"=>"category.id as category.name for category in categories"}
                    %td
                      %div{"ng-hide" => "budget.editing"}
                        {{budget.units | number}}
                      %div{"ng-show" => "budget.editing"}
                        %input.units{"type" => "number", "size" => "2", "value" => "0", "ng-model" => "budget.units"}/
                    %td
                      %div{"ng-hide" => "budget.editing"}
                        {{budget.priceperunit | currency:"€":2}}
                      %div{"ng-show" => "budget.editing"}
                        %input.price{"type" => "number", "step" => "0.50", "value" => "0", "ng-model" => "budget.priceperunit"}/

                    %td {{budget.units * budget.priceperunit | currency:"€":2}}
                    %td
                      %span{"ng-hide" => "budget.editing"}
                        %button.mod.glyphicon.glyphicon-pencil{"ng-click" => "toggleEditMode(budget)"}
                      %span{"ng-show" => "budget.editing"}
                        %button.mod.glyphicon.glyphicon-floppy-disk{"ng-click" => "modBudget(budget)"}
                      %button.destroy.glyphicon.glyphicon-remove{"ng-click" => "removeBudget(budget)"}
                %tr
                  %td
                    %input.title{"type" => "text", "ng-model" => "newbudget.description"}/
                    %select.cat{"ng-model" => "newbudget.category", "ng-options"=>"category.id as category.name for category in categories"}
                  %td
                    %input.units{"type" => "number", "size" => "2", "value" => "0", "ng-model" => "newbudget.units", "ng-init" => "newbudget.units = 0"}/
                  %td
                    %input.price{"type" => "number", "step" => "0.50", "value" => "0", "ng-model" => "newbudget.priceperunit", "ng-init" => "newbudget.priceperunit = 0.00"}/
                  %td
                    %span {{newbudget.units * newbudget.priceperunit | currency:"€":2}}
                  %td
                    %button.btn.btn-primary{"type" => "button", "ng-click" => "addBudget(newbudget)"}= t("general.add")
                %tr
                  %td TOTAL
                  %td
                  %td
                  %td
                  %td {{getTotal | currency:"€":2}}
          .col-md-6
            %highchart#chart1{:config => "highchartsNgConfig"}
      %hr/
      .extra
        .row
          .col-md-6{"ng-controller" => "stuffsCtrl" }


            %header
              %h3= t('trip.stuffs')
            %section
              %table.table.table-hover
                %thead
                  %tr
                    %th #
                    %th= t("trip.description")
                  %tr
                    %td.status
                      %div{"ng-show" => "isStuff()"}
                        %input#toggle-all.glyphicon.glyphicon-save{"ng-click" => "toggleMarkAll()", "ng-model" => "markAll", :type => "checkbox"}/
                    %td.text
                      %input#new{"ng-keyup" => "addStuff()", "ng-model" => "stuffText", :placeholder => t("trip.whatStuff"), :size => "30", :type => "text"}/
                %tbody{"ng-cloak" => "", "class"=>"ng-cloak"}
                  %tr{"ng-repeat" => "stuff in stuffs", "class" => "done-{{stuff.status}}"}
                    %td.status
                      %input.glyphicon.glyphicon-ok{"type" => "checkbox", "ng-model"=>"stuff.status", "ng-click" => "changeStatus(stuff)"}
                    %td.text{"ng-keyup"=>"editTodo()"}
                      %span{"ng-dblclick" => "toggleEditMode(stuff)", "ng-hide" => "stuff.editing"}  {{stuff.description}}
                      %input.edit{:autofocus => "", "ng-keyup" => "editOnEnter(stuff)", "ng-model" => "stuff.description", "ng-show" => "stuff.editing"}/


                      %button.mod.glyphicon.glyphicon-pencil{"ng-click" => "toggleEditMode(stuff)", "ng-hide" => "stuff.editing"}
                      %button.mod.glyphicon.glyphicon-floppy-disk{"ng-click" => "editOnEnter(stuff)","ng-show" => "stuff.editing"}

                      %button.destroy.glyphicon.glyphicon-remove{"ng-click" => "removeItem(stuff)"}
            %footer{"style"=>"display: block;","ng-cloak" => "", "class"=>"ng-cloak"}
              .container-fluid
                .todo-count
                  {{remaining()}} {{itemText()}}
                %button.clear-completed.btn.btn-primary.btn-xs{"ng-click"=>"clear()","ng-show"=>"hasDone()"}
                  = t("trip.clearCompleted")
                  %span ({{(stuffs.length - remaining())}})

          .col-md-6{"ng-controller" => "tasksCtrl"}
            %header
              %h3= t('trip.toDo')
            %section
              %table.table.table-hover
                %thead
                  %tr
                    %th #
                    %th= t("trip.description")
                  %tr
                    %td.status
                      %div{"ng-show" => "isTask()"}
                        %input#toggle-all.glyphicon.glyphicon-save{"ng-click" => "toggleMarkAll()", "ng-model" => "markAll", :type => "checkbox"}/
                    %td.text
                      %input#new{"ng-keyup" => "addTask()", "ng-model" => "taskText", :placeholder => t("trip.whatTask"), :size => "30", :type => "text"}/
                %tbody{"ng-cloak" => "", "class"=>"ng-cloak"}
                  %tr{"ng-repeat" => "task in tasks", "class" => "done-{{task.status}}"}
                    %td.status
                      %input.glyphicon.glyphicon-ok{"type" => "checkbox", "ng-model"=>"task.status", "ng-click" => "changeStatus(task)"}
                    %td.text{"ng-keyup"=>"editTodo()"}
                      %span{"ng-dblclick" => "toggleEditMode(task)", "ng-hide" => "task.editing", "ng-bind-html"=>"task.description"}
                      %input.edit{:autofocus => "", "ng-keyup" => "editOnEnter(task)", "ng-model" => "task.description", "ng-show" => "task.editing"}/

                      %button.mod.glyphicon.glyphicon-pencil{"ng-click" => "toggleEditMode(task)", "ng-hide" => "task.editing"}
                      %button.mod.glyphicon.glyphicon-floppy-disk{"ng-click" => "editOnEnter(task)","ng-show" => "task.editing"}

                      %button.destroy.glyphicon.glyphicon-remove{"ng-click" => "removeItem(task)"}
            %footer{"style"=>"display: block;","ng-cloak" => "", "class"=>"ng-cloak"}
              .container-fluid
                .todo-count
                  {{remaining()}} {{itemText()}}
                %button.clear-completed.btn.btn-primary.btn-xs{"ng-click"=>"clear()","ng-show"=>"hasDone()"}
                  = t("trip.clearCompleted")
                  %span ({{(tasks.length - remaining())}})



  %nav.meta-trip.navbar.navbar-default.navbar-fixed-bottom{:role => "navigation"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        - author = @trip.author_by_name
        =link_to profile_path(author), :class => "navbar-brand" do
          %i.fa.fa-pencil-square-o
          #{author}
      .navbar-collapse.collapse{}
        %ul.nav.navbar-nav.navbar-right
          - if signed_in?
            %li

              %a.favorite{"ng-init" => "favorite = #{@favorite}", "ng-click" => "toggleFavorite()"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x

                  %i.fa.fa-heart.fa-stack-1x{"ng-show" => "favorite"}
                  %i.fa.fa-heart-o.fa-stack-1x{"ng-hide" => "favorite"}
          %li
            .btn-group.dropup
              %a{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                %span.fa-stack.fa-lg
                  %i.fa.fa-square-o.fa-stack-2x
                  %i.fa.fa-arrow-up.fa-stack-1x
              %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                %li
                  = link_to share_url("facebook",@trip.key) do
                    %i.fa.fa-facebook-square.fa-2x
                    Facebook
                  = link_to share_url("twitter",@trip.key) do
                    %i.fa.fa-twitter-square.fa-2x
                    Twitter

          - if can? :destroy, Trip
            %li
              .btn-group.dropup
                %a{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-globe.fa-stack-1x.fa-inverse{"ng-show" => "trip.visibility == 'public'"}
                    %i.fa.fa-eye.fa-stack-1x.fa-inverse{"ng-show" => "trip.visibility == 'shared'"}
                    %i.fa.fa-eye-slash.fa-stack-1x.fa-inverse{"ng-show" => "trip.visibility == 'private'"}

                %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                  %li
                    %a{"ng-click" => "changeVisibility('public')"}
                      %i.fa.fa-globe
                      = t("trip.public")
                    %a{"ng-click" => "changeVisibility('shared')"}
                      %i.fa.fa-eye
                      = t("trip.shared")
                    %a{"ng-click" => "changeVisibility('private')"}
                      %i.fa.fa-eye-slash
                      = t("trip.private")
            %li
              .btn-group.dropup
                %a.change-image
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-photo.fa-stack-1x.fa-inverse
            %li
              .btn-group.dropup
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                  %span.fa-stack.fa-lg
                    %i.fa.fa-circle.fa-stack-2x
                    %i.fa.fa-cogs.fa-stack-1x.fa-inverse

                %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                  %li
                    %a.edit-users{"ng-click" => "loadEditors()"}
                      %i.fa.fa-group.fa-fw
                      = t("trip.manageUsers")
                    = link_to trip_path, :method => "delete", :data => {:confirm => t('trip.deleteTrip')} do
                      %i.fa.fa-remove.fa-fw
                      = t("trip.deleteTrip")
