%div#profile

  %div.col-md-8.col-md-offset-2
    %section.user-info
      - if current_user == @profile

        - content_for :navbar do
          %li
            =button_to t("user.newTrip"), new_profile_trip_path(@profile), :target => "_self", :class => "btn btn-default navbar-btn new", :method => :get


      %h1= @profile.username
  - if @trips.length > 0
    %div.clearfix
    %div.line
      %a.line-name
        = t("user.latest")
    %div.col-md-8.col-md-offset-2

      - @trips.each do |trip|
        - current_user.has_role? :admin, trip

        - if trip.visibility == "public" || current_user == @profile
          %section.trip
            %a.image
              %img{"src" => "#{trip.image.thumb.url}", "width" => "242", "height" => "150"}
            .info
              %h3
                = link_to trip.title, trip_path(trip.key), :target => "_self"
              %p.description
                = truncate( strip_tags(trip.description), length: 140)
              %div.tripMeta

                %span.author
                  - author = trip.author_by_name
                  =link_to author, profile_path(author)
                %div.dates
                  - if trip.startDate
                    %span.start
                      %span.glyphicon.glyphicon-calendar
                      %strong
                        = t("trip.startDate")
                      = l(trip.startDate, :format => :trip)
                  - if trip.endDate
                    %span.end
                      %span.glyphicon.glyphicon-calendar
                      %strong
                        = t("trip.endDate")

                      = l(trip.endDate, :format => :trip)

        %hr
  - if @favorites.length > 0
    %div.clearfix
    %div.line
      %a.line-name
        = t("user.favorites")
    - if current_user == @profile
      %div.col-md-8.col-md-offset-2
        - @favorites.each do |favorite|

          %section.trip
            %a.image
              %img{"src" => "#{favorite.image.thumb.url}", "width" => "242", "height" => "150"}
            .info
              %h3
                = link_to favorite.title, trip_path(favorite.key), :target => "_self"
              %p.description
                = truncate( strip_tags(favorite.description), length: 140)
              %div.tripMeta

                %span.author
                  - author = favorite.author_by_name
                  =link_to author, profile_path(author)
                %div.dates
                  - if favorite.startDate
                    %span.start
                      %span.glyphicon.glyphicon-calendar
                      %strong
                        = t("trip.startDate")
                      = l(favorite.startDate, :format => :trip)
                  - if favorite.endDate
                    %span.end
                      %span.glyphicon.glyphicon-calendar
                      %strong
                        = t("trip.endDate")

                      = l(favorite.endDate, :format => :trip)
          %hr
  - if @editables.length > 0
    %div.clearfix
    %div.line
      %a.line-name
        = t("user.editables")
    - if current_user == @profile
      %div.col-md-8.col-md-offset-2
        - @editables.each do |editable|

          %section.trip
            %a.image
              %img{"src" => "#{editable.image.thumb.url}", "width" => "242", "height" => "150"}
            .info
              %h3
                = link_to editable.title, trip_path(editable.key), :target => "_self"
              %p.description
                = truncate( strip_tags(editable.description), length: 140)
              %div.tripMeta

                %span.author
                  - author = editable.author_by_name
                  =link_to author, profile_path(author)
                %div.dates
                  - if editable.startDate
                    %span.start
                      %span.glyphicon.glyphicon-calendar
                      %strong
                        = t("trip.startDate")
                      = l(editable.startDate, :format => :trip)
                  - if editable.endDate
                    %span.end
                      %span.glyphicon.glyphicon-calendar
                      %strong
                        = t("trip.endDate")

                      = l(editable.endDate, :format => :trip)
          %hr
  .clearfix


