%div#profile

  %div.col-md-8.col-md-offset-2
    %section.user-info
      - if current_user == @profile
        .actions
          %ul.list-inline
            %li
              =button_to t("NewTrip"), {controller: "trips", action: "create"}, :target => "_self", :class => "btn btn-default new"
            %li
              =button_to t("DeleteAccount"), {controller: "profiles", action: "delete"}, :target => "_self", :class => "btn btn-default delete"
      %h1= @profile.username
  %div.clearfix
  %div.line
    %a.line-name
      = t("Latest")
  %div.col-md-8.col-md-offset-2

    - @trips.each do |trip|
      - if trip.visibility == "public" || current_user == @profile
        %section.trip
          %a.image
            %img{"src" => "#{trip.image.thumb.url}", "width" => "242", "height" => "150"}
          .info
            %h3
              = link_to trip.title, {controller: "trips", action: "single", trip: trip.key}, :target => "_self"
            %p.description
              = truncate( strip_tags(trip.description), length: 140)
            %div.tripMeta

              %span.author
                - author = trip.author_by_name
                =link_to author, profile_path(author)
              %div.dates
                - if trip.startDate
                  %span.start
                    %span.glyphicon.glyphicon-calendar
                    %strong
                      = t("StartDate")
                    = l(trip.startDate, :format => :trip)
                - if trip.endDate
                  %span.end
                    %span.glyphicon.glyphicon-calendar
                    %strong
                      = t("EndDate")

                    = l(trip.endDate, :format => :trip)

      %hr
  %div.clearfix
  %div.line
    %a.line-name
      = t("Favourites")
  %div.col-md-8.col-md-offset-2