%div#profile

  %div.col-md-8.col-md-offset-2
    %section.user-info

      %h1= @profile.username
      - if current_user == @profile
        .actions
          %ul.list-inline
            %li
              =link_to t("NewTrip"), {controller: "trips", action: "create"}, :target => "_self"
            %li
              =link_to t("DeleteAccount"), {controller: "profiles", action: "delete"}, :target => "_self"
  %div.clearfix
  %hr
  %div.col-md-8.col-md-offset-2
    - @trips.each do |trip|
      - if trip.visibility == "public" || current_user == @profile
        %section.trip
          %a.image
            %img{"src" => "#{trip.image.thumb.url}", "width" => "242", "height" => "150"}
          .info
            %h3
              = link_to trip.title, {controller: "trips", action: "single", trip: trip.key}, :target => "_self"
            %p.description
              = truncate( strip_tags(trip.description), length: 140)
            %div.tripMeta
              %span.author
                =link_to "David Táboas", profile_path("davidtaboas")
              - if trip.startDate
                %span.start
                  = t("StartDate")
                  = l(trip.startDate, :format => :trip)
              - if trip.startDate
                %span.end
                  = t("EndDate")
                  = l(trip.endDate, :format => :trip)

      %hr