.col-md-10.col-md-offset-1
  .col-md-6.col-md-offset-3
    %h2= t("auth.editAccount")
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      %div.form-group
        = f.label t("auth.username")
        %br/
        %div.input-group
          %span.input-group-addon @
          = f.text_field :username, autofocus: true, :class => "form-control"
      %div.form-group
        = f.label :email
        %br/
        = f.email_field :email, :class => "form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      %div.form-group
        = f.label t("auth.password")
        %i= t("auth.leave_blank")
        %br/
        = f.password_field :password, autocomplete: "off", :class => "form-control"
      %div.form-group
        = f.label t("auth.password_confirmation")
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
      %div.form-group
        = f.label t("auth.current_password")
        %i= t("auth.need_your_current_password")
        %br/
        = f.password_field :current_password, autocomplete: "off", :class => "form-control"
      %div.form-group
        = f.submit t("general.update"), :class => "btn btn-default"
      = link_to user_registration_path, :data => {:confirm => t("user.removeAccount")}, :method => :delete do
        %i.fa.fa-trash-o.fa-fw
        = t("user.deleteAccount")

