!!! 5
%html
  %head
    = display_meta_tags
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag "i18n"
    = javascript_include_tag "translations"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_tag do
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
      moment.locale(I18n.locale);
    = csrf_meta_tags
  %body{"ng-app" => "PlanificaViajes", "ng-controller" => "login as auth"}

    %nav.siteNav
      .navbar.navbar-inverse.nomargin{:role => "navigation"}

        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/", "target" => "_self"} Planifica Viajes
        .navbar-collapse.collapse{}
          %form.navbar-form.navbar-right{:role => "form"}
            %div.login-false{"ng-hide" => "is_login()"}
              .form-group{"ng-class" => "{ 'has-error' : errorOnLogin() }"}

                %label.control-label{}= t("auth.errorOnLogin")

                %input.form-control{:placeholder => t("auth.username"), :type => "text", :name => "email", "ng-model" => "formInfo.email", "required" => ""}/

                .clear

                %input.form-control{:placeholder => t("auth.password"), :type => "password", :name => "password", "ng-model" => "formInfo.password", "required" => ""}/

                %button.btn.btn-success{:type => "submit", "ng-click" => "login()"}= t('auth.sign_in')
                .clear
                .register
                  = link_to t("auth.register"), new_user_registration_path

            %div.login-true{"ng-show" => "is_login()"}
              .list-group
                %li.list-group-item.active
                  %i.fa.fa-user.fa-fw
                  {{username}}
                -if signed_in?
                  =link_to profile_path(current_user.username), :class => "list-group-item", :target => "_self" do
                    %i.fa.fa-bus.fa-fw
                    = t("user.allYourTrips")
                  =link_to edit_user_registration_path, :class => "list-group-item", :target => "_self" do
                    %i.fa.fa-wrench.fa-fw
                    = t("user.yourAccount")

              %div.clear
              %button.btn.btn-success{:type => "submit", "ng-click" => "logout()"}
                %i.fa.fa-sign-out.fa-fw
                = t('auth.log_out')





    .container-fluid.temp{"ng-init" => "notice = '#{notice}'; alert = '#{alert}'"}
      .alert.alert-info.alert-dismissible{:role => "alert", "ng-show" => "notice.length","ng-cloak" => "", "class"=>"ng-cloak"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= notice
      .alert.alert-warning.alert-dismissible{:role => "alert", "ng-show" => "alert.length", "ng-cloak" => "", "class"=>"ng-cloak"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= alert
    .container-fluid#site
      .page
        %nav.navHome
          %button.btn.btn-default
            %i.fa.fa-home.fa-2x

        =yield
        %footer#end

      / /container

