!!! 5
%html
  %head
    = display_meta_tags
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_tag do
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    = csrf_meta_tags
  %body{"ng-app" => "PlanificaViajes", "ng-controller" => "login as auth"}

    %nav.siteNav
      .navbar.navbar-inverse.nomargin{:role => "navigation"}

        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/", "target" => "_self"} Planifica Viajes
        .navbar-collapse.collapse{}
          %form.navbar-form.navbar-right{:role => "form"}
            %div.login-false{"ng-hide" => "is_login()"}
              .form-group{"ng-class" => "{ 'has-error' : errorOnLogin() }"}

                %label.control-label{}= t("ErrorOnLogin")

                %input.form-control{:placeholder => t("username"), :type => "text", :name => "email", "ng-model" => "formInfo.email", "required" => ""}/

                .clear

                %input.form-control{:placeholder => t("password"), :type => "password", :name => "password", "ng-model" => "formInfo.password", "required" => ""}/

                %button.btn.btn-success{:type => "submit", "ng-click" => "login()"}= t('sign_in')
                .clear
                .register
                  = link_to t("Register"), new_user_registration_path

            %div.login-true{"ng-show" => "is_login()"}
              .list-group
                %li.list-group-item.active
                  %span.glyphicon.glyphicon-user
                  {{username}}
                -if signed_in?
                  =link_to profile_path(current_user.username), :class => "list-group-item", :target => "_self" do
                    %span.glyphicon.glyphicon-align-justify
                    = t("AllYourTrips")
                  =link_to edit_user_registration_path, :class => "list-group-item", :target => "_self" do
                    %span.glyphicon.glyphicon-wrench
                    = t("YourAccount")

              %div.clear
              %button.btn.btn-success{:type => "submit", "ng-click" => "logout()"}
                %span.glyphicon.glyphicon-off
                = t('log_out')





    .container-fluid.temp
      .alert.alert-info.alert-dismissible{:role => "alert", "ng-show" => "#{notice}"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= notice
      .alert.alert-warning.alert-dismissible{:role => "alert", "ng-show" => "#{alert}"}
        %button.close{"data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %strong= alert
    .container-fluid#site
      .page
        %nav.navHome
          %button.btn.btn-default
            %span.glyphicon.glyphicon-home

        =yield
        %footer

      / /container

